.businessImage {
	height: 200px;
	width: 200px;
}

.navbar {
  margin: 0;
}

.navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
}

img .navbar-brand {

  width: 150px;
  height: 150px;
}
/*Homepage*/

@font-face {
    font-family: shutdown;
    src: url(/static/Shutdown!.ttf) format('truetype');
}

.logoDiv {
    background-image: url("compassBg.jpg");
    background-size: cover;
    height:100%;
    color: white;
 
}

.fill {
  height:100%;
}

.logo {
    font-family: shutdown;
    font-size: 100px;
    padding: 15px;
    margin: 0 0 10px 0;
}

.logoSupplement {
  font-family: shutdown;
  font-size: 35px;
  padding: 15px;

}

.homepage {
  background-color: #00868B;
  position: relative;
}

.HomepageDiv {
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    color: white;
}

.addressCollector {
border-radius: 4px;
width: 80%;
display: inline-block;

}

.addressCollectorMU {
  border-radius: 4px;
  width: 80%;
}

.address-collector {
display: inline;
}

/*questions page*/

.glyphicon-chevron-left {
    font-size: 4.2em;
}


.addToList {
/*  width: 110px;
*/  height: 50px;
  background-color: #f9f9fa;
  color: #333;
  text-align:center;
  line-height:50px;
  border-radius: 30px;
  display: inline-block;
  margin: 0 5px;
}

.addToList:hover {
  background:#dfdfdf;
}
/*.addToList:hover {
  background-color: lighten(green, 5%);
  cursor: hand;
}*/

.buttonDiv{
  display: flex;
  flex-direction: row;

}

/*explore*/
.main {
    background-image: url("crumpledBg.jpg");
  background-size: cover;
    height: 100%;
}

/*Maps*/
#meetupMap {
} 

.map {
  display:inline-block !important;
}

.marker {
  background-image: url('/static/cross-15.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 25%;
  cursor: pointer;
}

.addressMarker {
  background-image: url('/static/pitch-15.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 0;
  cursor: pointer;
}

/* Footer */
.yelpFooter {
    color: white;
/*    position: fixed;*/
    left: 0;
    /*bottom: 0;*/
    width: 100%;
    padding:0;
    background-color: #242424;
    text-align: center;
}

.destinationsList {
  overflow: auto;
  height:400px;
  width:450px;
}

.locationCard {
  border: 1px solid #e7e9eb;
  border-radius: 4px;
  margin: 0px auto 5px 0;
  padding: 10px;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  background: #778899;
  color: #333;
}
.destinationCard {
  border: 1px solid #e7e9eb;
  border-radius: 4px;
  margin: 0px auto 5px 0;
  padding: 10px;
  width: 450px;
  height:370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  background: #cfcfef;
  color: #333;
}
.meetupCard {
  border: 1px solid #e7e9eb;
  border-radius: 4px;
  margin: 0px auto 5px 0;
  padding: 10px;
  width: 450px;
  height:285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  background: #cfcfef;
  color: #333;
}

.explore {
  margin: 10px 0 10px 0;
}

.hidden {
  display: none;
}

.visited-container {
  margin: -15px 10vw 80px 10vw;
}
.meetup-container {
  margin: -20px 10vw 80px 10vw;
}
.destinations-container {
  margin: 0 10vw 80px 10vw;
}

.visited-title {
  margin:0;
}
.destinations-title {
  margin:0;
}

.destinations-button {
  margin: 15px 0 0 0;
}

.visited-title-container {
  margin: 15px 0;
}

.destinations-title-container {
  margin: 15px 0;
}

.visited-title-container h3 {
  margin: 20px 0 0 0;
}
.destinations-title-container h3 {
  margin: 20px 0 0 0;
}

.visited-map-container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.destinations-map-container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.panel-group{
  overflow:auto;
  height:400px;
  width:500px;
  display:inline-block;
  margin:0;
}

.mapPlaces {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 25px 0;
}

.placesScroll {
  height: 400px;
  width: 60%;
  overflow: auto;
  justify-content: center;
  margin: 0 auto 70px;
}
.meetupScroll {
  height: 500px;
  overflow: auto;
  justify-content: center;
  
}


.meetupHome {
  background-image: url('friends.jpg');
  background-size: cover;
  height:90%;
}

.meetupSpotsTitle {
  margin: 0 0 0 0;
}

.meetup-body {
  position: fixed;
  width: 500px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 45%;
  margin: -195px 0 0 -150px;
  color: #F5F5F5;
 /* display: flex;
  align-items: center;
  justify-content: center*/
}


.q3 {
  background-image: url('mtnBg.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.doneBtn {
  border-radius: 18px;
  position: relative;
  background-color: #ADB3CA;
}

div {
  font-family: 'Open Sans', sans-serif;
}

.footer-img {
  height:40px;
}

footer {
  font-size: 10px;
}

.body-container {
  background-image: url("crumpledBg.jpg");
  background-size: cover;
  height: 100%;
}

.notes {
  border-radius: 4px;
}

.glyphicon-star-empty{
  display:inline;
  font-size: 16px;
  
}

.visitedBtn {
  margin: 0 19px;
}

.visitedText{
  border-radius: 4px;
  }

  .mapDiv {
    border-radius: 4px;
  }