.businessImage {
	height: 200px;
	width: 200px;
}

   .navbar-center {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

.addToList {
  width: 110px;
  height: 50px;
  background-color: green;
  color: white;
  text-align:center;
  line-height:50px;
  border-radius: 30px;
  display: inline-block;
  margin: 0 5px;
}
/*.addToList:hover {
  background-color: lighten(green, 5%);
  cursor: hand;
}*/

.buttonDiv{
  display: flex;
  flex-direction: row;

}



/*Maps*/
#meetupMap {
  width: 100%;
      }

.marker {
  background-image: url('/static/cross-15.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 25%;
  cursor: pointer;
}

/* Footer */
.yelpFooter {
    color: white;
/*    position: fixed;*/
    left: 0;
    /*bottom: 0;*/
    width: 100%;
    padding:0;
    background-color: red;
    text-align: center;
}

.destinationsList {
  overflow: auto;
}

.locationCard {
  background: #f9f9fa;
  border: 1px solid #e7e9eb;
  border-radius: 3px;
  margin: 5px 0; 
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hidden {
  display: none;
}