<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://npmcdn.com/mapbox-gl-circle/dist/mapbox-gl-circle.min.js'></script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/styles.css"/>
<style>
.marker {
  background-image: url('/static/cross-15.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 25%;
  cursor: pointer;
}
</style>


	<title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>  <!-- this is the correct body tag -->

	<!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          {% if session.get('user_id') %}
          <li><a href="/explore">Explore</a></li>
          <li><a href="/destinations">My Destinations</a></li>
          <li><a href="/visited">My Places</a></li>
<!-- Do NOT need to make /explore worked if not logged in- they'll already be on hompage, and can generate their explore list with the input address -->
          {% else %}
          <li><a id='login' data-toggle="modal" 
                 data-target="#loginModal">Explore</a></li>
          <li><a id='login' data-toggle="modal" 
                 data-target="#loginModal">My Destinations</a></li>
          <li><a id='login' data-toggle="modal" 
                 data-target="#loginModal">My Places</a></li>       
          {% endif %}
          <li class='navbar-center'><a href="/meetup">Meet-Up</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if session.get('user_id') %}
          <li><a href='/logout' id='logout' >Logout</a></li>
          {% else %}
          <li><a id='login' data-toggle="modal" data-target="#loginModal">Login</a></li>
          <li><a href="/registration">New Explorer?</a></li>
          </ul>
          {% endif %}
      </div>
    </div> <!-- this div closes navbar container -->
    </nav>

<!-- Modal Login Window -->

<!-- Modal -->

      <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Log in</h4>
            </div>
            <div class="modal-body">
          <div id='loginModal' class="form-group">
            <span id='notification'></span>
      <div class="well spaced" style="width:40%;">
        <form class='login-form' method="post" >
          <label>Email or username:
              <input type="text" name="user_info" 
                     id='userInfo' required class="form-control">
          </label>
          <div class="form-group">
            <label>Password:
              <input type="password" name="password" 
                     id='userPassword' 
                     required class="form-control">
          </div>
          <div class="form-group">
            <button type="button" id="loginBtn" 
                    class="btn btn-danger" 
                    onClick="checkLoginData()" >
              Log In to Explore! 
            </button>
          </div>
          <div class="modal-footer">New to Hit the Spot?
            <a href="/registration" class="btn btn-primary">Register</a>
          </div>
        </form>
      </div>
        </div>
          </div>
          </div>

        </div>
      </div>


    <div class="body-container">
      {% block content %}
        BODY GOES HERE
      {% endblock %}
    </div> 
{% block footer %}
  <footer class="navbar-default navbar-fixed-bottom yelpFooter">
    <div class="container-fluid text-center">
      <span>Location data powered by<img class='footer-img' src='static/yelp_resized.png'>
      </span>
    </div>
  </footer>
{% endblock %}
<script src="static/explore.js"></script>
<script src="static/visited.js"></script>




<div id="extending">
  {% for flash in get_flashed_messages() %}
  
  <div class="alert alert-danger" style="width:90%; margin:0 auto;">
    {{ flash }}
  </div>
  
  {% endfor %}
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>

