{% extends 'base.html' %}

{% block title %}
Starting Places
{% endblock %}

{% block content %}
<div><h1>{{ places[0].user.username }}'s Destinations</h1></div>
<div><h3>Become an expert of this area and visit the following places:</h3></div>
<div>
{% for place in places  %}

<div>
  <h3><b>{{ place.location.name }}</b></h3>
  	{{ place.location.address }}<br>
  <a href={{ place.location.yelp_url }}>	<img src="{{ place.location.pic }}" class='businessImage'></a><br>

  <button class='been'>Explored</button>
</div>
{% endfor %}


</div>
{% endblock %}