{% extends 'base.html' %}

{% block title %}
Starting Places
{% endblock %}

{% block content %}
<div><h1>{{ places[0].user.username }}'s Destinations</h1></div>
<div><h3>Become an expert of this area and visit the following places:</h3></div>
<div>
{% for place in places  %}

<div>
  <h3><b>{{ place.location.name }}</b></h3>
  	{{ place.location.address }}<br>
  <a href='{{ place.location.yelp_url }}'>	<img src="{{ place.location.pic }}" class='businessImage'></a><br>



 <!-- Button trigger modal -->
  <a data-toggle="modal" href="#exploredModal" class="btn btn-primary btn-lg">I've been here!</a>

  <!-- Modal -->
  <div class="modal fade" id="exploredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">{{ place.location.name }}</h4>
        </div>
        <div class="modal-body">
          <div class="addNotes panel-body">
          <div class='addDetails'> 
          	Notes:    <input type='text' name='notes' 
                            id='notes-{{ place.yelp_id }}' 
                            value='{{ place.notes }}'>
                      </input><br>
          	Favorite: <input type='text' name='favorite' 
                            id='favorites-{{ place.yelp_id }}' 
                            value='{{ place.favorite }}'>
                      </input><br>
          	WILL HAVE RATING ICONS HERE<br>
          </div>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary addDetails"
          		  onClick='addDetailsOnClick("{{ place.yelp_id }}")'
          		  data-dismiss="modal" >
          Add details
      	  </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>
{% endfor %}


</div>
{% endblock %}