{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}

    <div class='logoDiv'>
      <h1 class='logo'>Hit the Spot!</h1>
      <h3 class='logoSupplement'>Neighborhood Exploration</h3>
      {% if session.get('user_id') %}
      Welcome back!
      {% endif %}

      <div class='homepageDiv'>Around where do you want to explore? 
        <form action='/explore', method='get'>
          <input type="text" name="address"><br>
          <input type="submit" value="Go!">
        </form>
      </div>
    </div> <!-- this div ends logoDiv -->

{% endblock %}
{% block footer %}
{% endblock %}
