{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}

    <div class='logoDiv'>
      <h1 class='logo'>Hit the Spot!</h1>
      <h3 class='logoSupplement'>Neighborhood Exploration</h3>

      <div class='homepageDiv'>Around where do you want to explore? 
        <form action='/explore', method='get'>
          <input type="text"
                 placeholder='Enter address here'
                 class='addressCollector form-control'
                 name="address">
          <input type="submit" class='btn homepage' value="Go!">
        </form>
      </div>
    </div> <!-- this div ends logoDiv -->

{% endblock %}
{% block footer %}
{% endblock %}
