{% extends 'base.html' %}

{% block title %}
Meetup Spots
{% endblock %}

{% block content %}
<div class='meetupHome'>
  <div> 
    <div class='meetup-body'>
      <h1 class='meetupSpotsTitle'>Meetup Spots</h1>
      <form action='/meetup' method='POST'>
        <span class='address-collector'>First Address
          <input type='textbox' class="addressCollectorMU form-control" data-val="true" data-val-required="The First address or zip code field is required." id="address1" name="address1" placeholder="First address or zip code" value='683 sutter st san francisco ca' required="required" tabindex="1" value="" aria-required="true" autocomplete="off">
        </span>

        <span class='address-collector'> Second Address
          <input type='textbox' class="addressCollectorMU form-control" data-val="true" data-val-required="The First address or zip code field is required." id="address2" name="address2" placeholder="First address or zip code" value='600 Townsend st san francisco ca' required="required" tabindex="1" value="" aria-required="true" autocomplete="off">
        </span>

        <span>
          What type of place do you want to meet at?
          <input class="addressCollectorMU form-control" id="venue" name="venue" placeholder="Where to?" tabindex="3" type="textbox" value="" dir="auto"><br>
          <span>eg: Dinner, cafe, park - leave blank if anything goes. </span>
        </span>
          <input class='btn homepage' type='submit' value='GO!'>
      </form>
    </div> <!-- closes meetup body -->
  </div>   
</div> <!-- closes meetup home -->
{% endblock %}
