{% extends 'base.html' %}

{% block title %}
Places I've visited
{% endblock %}

{% block content %}
<div><h1>Places {{ places[0].user.username }} has visited</h1></div>
<div><h3>What did you think about these places?</h3></div>
<div>
{% for place in places %}

<div>
  <h3><b>{{ place.location.name }}</b></h3>
  	{{ place.location.address }}<br>
  <a href="{{ place.location.yelp_url }}">	<img src="{{ place.location.pic }}" class='businessImage'></a>
  	



</div>
{% endfor %}
</div>
{% endblock %}