{% extends 'base.html' %}

{% block title %}
Questions
{% endblock %}


{% block content %}
<script>
    $(document).ready(function(){
        $('#questionsModal').modal('show');
    });
</script>

<!-- Modal -->
<div id="questionsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Some Quick Qs for where you want to explore</h4>
      </div>
      <div class="modal-body q1 ">
        <div class="well spaced q3text" style="width:50%;">
        <p>What's your favorite type of cuisine?</p>
        <!-- <div class="well spaced" style="width:60%;"> -->
          <form class='questionsForm' method="post" >
            <input type="text" name="answers" class='answers'
                   id='cuisinePreference' required class="form-control"/>
              <span class="glyphicon glyphicon-cutlery"></span><br>
              <button type='button' id='q2Modal' data-toggle='modal' 
              data-from='questionsModal' data-target='#q2modal' 
              onClick='grabFirstAnswer()'>Launch Q2</button>
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>


<!-- Q2 Modal -->
<div id="q2modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Q2 Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Some Quick Qs for where you want to explore</h4>
      </div>

      <div class="modal-body q2">
        <div class="well spaced q3text" style="width:40%;">
          <p>What types of places do you typically seek out?</p>

          <form class='questionsForm' method="post">
            <input type="text" name="hangout" class="answers"
                   id='hangout' required class="form-control">

            <button type='button' id='q3modalbtn' data-toggle='modal'
            data-target='#q3modal' onClick='grabSecondAnswer()'>Launch Q3</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Q3 Modal -->
<div id="q3modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Q3 Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Some Quick Qs for where you want to explore</h4>
      </div>
      <div class="modal-body q3">
        <div class="well spaced q3text" style="width:50%;">
          <p>Do you prefer being indoors or outdoors?</p>
          <form class='questionsForm' method="post">
            <input type="radio" name="outdoorsy" value="True" class='answers' 
                   required class="form-control"/>Indoors<br>
            <input type="radio" name="outdoorsy" value="False" class='answers'
                   required class="form-control"/>Outdoors<br>
            <input type="radio" name="outdoorsy" value="True" class='answers'
                   required class="form-control"/>No preference
              <br>
            <button type='button' id='AnsSubmit' class='btn doneBtn' 
                    onClick='grabThirdAnswer()' 
                    method='post'>Done
            </button><span class="glyphicon glyphicon-tree-conifer"></span>
                  <!-- data-dismiss="modal" <- put inside btn if needed -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}

