{% extends 'base.html' %}
{% block content %}
<div class="well spaced registration" style="width:70%;">
  <h1>Create Explorer Profile</h1>
  <div class='userRegistration'>
    <form action="register" method="POST">
      <div class="form-group">
            First Name:
            <input type="text" name="name" class="form-control">
      </div>

      <div class="form-group">
            Username:
            <input type="text" name="username" class="form-control">
      </div>

      <div class="form-group">
            Email:
            <input type="email" name="email" class="form-control">
      </div>

      <div class="form-group">
          Password:
          <input type="password" name="password1" class="form-control">
      </div>

      <div class="form-group">
          Confirm Password:
          <input type="password" name="password2" class="form-control">
      </div>
  </div>
      <div class='exploreRegistration'>
        <h2>Explore from here</h2>
         <div class="form-group">
              Street Address:
              <input type="text" name="address" class="form-control">
          </div>
         <div class="form-group">
              City:
              <input type="text" name="city" class="form-control">
          </div>
         <div class="form-group">
              State:
              <input type="text" name="state" class="form-control"> 
          </div>
          <div class="form-group">
              Zipcode
              <input type="text" name="zipcode" class="form-control">
          </div>
           <div class="form-group">
              Nick-name for this location: (suggestions: 'home', 'work', 'Alex'shouse', etc.)
              <input type="text" name="address_name" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" value="Go!" class="btn btn-danger">
          </div>
  </div>
    </form>
</div>

<div>
“It's a dangerous business, Frodo, going out your door. You step onto the road, and if you don't keep your feet, there's no knowing where you might be swept off to.”
</div>

{% endblock %}
