
{% extends 'base.html' %}

{% block title %}
Starting Places
{% endblock %}


{% block content %}
<div><h1>Hi {{ name }}! Here are our top recommendations for you to explore</h1></div>
<div><h3>Which places do you want to visit around {{ address }} ?</h3></div>
<div>
{% for place in places['businesses'] %}

<div>
  <p><b>{{ place['name'] }}</b> is mere steps away at 
  {{ " ".join(place['location']['display_address']) }}</p>

<button class="addToList" id="interested"  
data-status="interested" 
data-name="{{ place['name'] }}" 
data-id="{{ place['id'] }}"
data-address="{{ " ".join(place['location']['display_address']) }}"
data-latitude="{{ place['coordinates']['latitude'] }}"
data-longitude="{{ place['coordinates']['longitude'] }}" 
data-url="{{ place['url'] }}"
data-pic="{{ place['image_url'] }}" >I want to go!</button>

<button class="addToList" id="visited"
data-status="visited" 
data-name="{{ place['name'] }}" 
data-id="{{ place['id'] }}"
data-address="{{ " ".join(place['location']['display_address']) }}"
data-latitude="{{ place['coordinates']['latitude'] }}"
data-longitude="{{ place['coordinates']['longitude'] }}" 
data-url="{{ place['url'] }}"
data-pic="{{ place['image_url'] }}" > I've been here! </button>





</div>
{% endfor %}
</div>
<div>
<a href='/destinations'>Go to destinations</a>
</div>
{% endblock %}

