{% extends 'base.html' %}

{% block title %}
Visited Locations
{% endblock %}

{% block content %}

<script src="static/map.js"></script>

<div><h1>Visited Locations</h1></div>
<div><h3>What did you think of these places?:</h3></div>

<div id='map' style='width: 400px; height: 300px;'></div>

{% for place in places  %}

<div class="panel-group" id="accordion" role="tablist" 
     aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" 
           href="#collapse-{{ place.yelp_id }}" aria-expanded="true" 
           aria-controls="collapse-{{ place.yelp_id }}">
          <h3><b>{{ place.location.name }}</b></h3>
        </a>
      </h4>
    </div>
    <div id="collapse-{{ place.yelp_id }}" class="panel-collapse collapse in" 
         role="tabpanel" aria-labelledby="headingOne">
      <div class="addNotes panel-body">
          <div class='addDetails'> 
          	Notes:    <input type='text' name='notes' 
                            id='notes-{{ place.yelp_id }}' 
                            value='{{ place.notes }}'>
                      </input><br>
          	Favorite: <input type='text' name='favorite' 
                            id='favorites-{{ place.yelp_id }}' 
                            value='{{ place.favorite }}'>
                      </input><br>
          	WILL HAVE RATING ICONS HERE<br><br>
          </div>
         <button class='addDetails' 
                 onClick='addDetailsOnClick("{{ place.yelp_id }}")'>Add Details 
         </button>

      </div>
    </div>

  </div>
</div>
{% endfor %}

{% endblock %}

<!-- 

  Want separate boxes for Notes, favorite (both text) and then have rating buttons below
  add details button which triggers the ajax to the DB

</div>
PROBLEMS: 1)When add endblock in, collapse fails.
2) when hit any category to collapse, collapses all. This is because I'm creating the same blocks to collapse when I loop, and first one is being affected.
3) Better way to do the form for add notes than current? looks terrible

